[Tt]humbs.db
*.dll
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
[Bb]in*/
[Oo]bj*/
[Dd]ebug*/
[Rr]elease*/
*.lib
*.sbr
obj/
_ReSharper/*
[Tt]est[Rr]esult*
packages/*
SapAutomation.Test/*
!nuget.exe
