<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="QA.AutomatedMagic" version="1.0.0.001" targetFramework="net452" />
  <package id="QA.AutomatedMagic.Managers.WebDriverManager" version="1.0.0.001" targetFramework="net452" />
  <package id="SapAutomation" version="1.0.0.001" targetFramework="net452" />
  <package id="Selenium.Support" version="2.53.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="2.53.0" targetFramework="net452" />
</packages>